<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1> {{ message }} </h1>
</head>
<body>
    <form action="/" method = "POST">
        <p>Average Temperature <input type = "text" name = "1" /></p>
        <p>Population Density <input type = "text" name = "2" /></p>
        <p>Stringency Index <input type = "text" name = "3" /></p>
        <p>Median Age <input type = "text" name = "4" /></p>
        <p>GDP per capita <input type = "text" name = "5" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
    <h1>{{ output }}</h1>
</body>
</html>